In [4]:
# Import essential libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier  # Consider classification model
from sklearn.metrics import accuracy_score

In [5]:
data = pd.read_csv("cpdata.csv")

In [6]:
data

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

In [7]:
if not pd.api.types.is_numeric_dtype(data['label']):
    data = pd.get_dummies(data, columns=['label'], drop_first=True)

In [8]:
X = data.iloc[:, :-1]  # Features
y = data.iloc[:, -1]

In [9]:
X

,temperature,humidity,ph,rainfall,label_Black gram,label_Chickpea,label_Coconut,label_Coffee,label_Cotton,label_Ground Nut,...,label_grapes,label_maize,label_mango,label_millet,label_muskmelon,label_orange,label_papaya,label_pomegranate,label_rice,label_watermelon
0,20.879744,82.002744,6.502985,202.935536,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,21.770462,80.319644,7.038096,226.655537,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,23.004459,82.320763,7.840207,263.964248,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,26.491096,80.158363,6.980401,242.864034,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,20.130175,81.604873,7.628473,262.717340,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,25.287846,89.636679,6.765095,58.286977,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3096,26.638386,84.695469,6.189214,48.324286,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3097,25.331045,84.305338,6.904242,41.532187,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3098,26.897502,83.892415,6.463271,43.971937,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3099,26.986037,89.413849,6.260839,58.548767,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [10]:
y

0       False
1       False
2       False
3       False
4       False
        ...
3095    False
3096    False
3097    False
3098    False
3099    False
Name: label_wheat, Length: 3100, dtype: bool

In [11]:
# Define crop labels (modify these based on your actual labels)
crops = ['wheat', 'mungbean', 'Tea', 'millet', 'maize', 'lentil', 'jute', 'cofee',
        'cotton', 'ground nut', 'peas', 'rubber', 'sugarcane', 'tobacco',
        'kidney beans', 'moth beans', 'coconut', 'blackgram', 'adzuki beans',
        'pigeon peas', 'chick peas', 'banana', 'grapes', 'apple', 'mango',
        'muskmelon', 'orange', 'papaya', 'watermelon', 'pomegranate']

In [12]:
len(crops)

30

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [14]:
X_train

,temperature,humidity,ph,rainfall,label_Black gram,label_Chickpea,label_Coconut,label_Coffee,label_Cotton,label_Ground Nut,...,label_grapes,label_maize,label_mango,label_millet,label_muskmelon,label_orange,label_papaya,label_pomegranate,label_rice,label_watermelon
768,24.224876,74.894654,7.175171,192.493126,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
721,23.396057,72.605129,7.097586,174.787641,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2981,23.225940,94.429714,6.844402,105.691786,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2561,28.121809,46.168886,5.630620,93.302474,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
278,29.211422,87.114978,6.418743,51.538482,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2146,19.453399,18.234907,8.380185,75.631757,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1801,26.734340,68.139997,7.040056,67.150964,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2645,28.697083,94.307599,6.002927,22.218071,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2395,9.851243,80.226317,5.965379,68.428024,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2982,23.501282,92.975275,5.786058,106.619050,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [15]:
y_train

768     False
721     False
2981    False
2561    False
278     False
        ...
2146    False
1801    False
2645    False
2395    False
2982    False
Name: label_wheat, Length: 2170, dtype: bool

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:
# Evaluate model accuracy on unseen data
accuracy = accuracy_score(y_test, model.predict(X_test)) * 100
print("Model accuracy:", accuracy)

Model accuracy: 99.67741935483872

In [19]:

import warnings
warnings.filterwarnings("ignore")

In [20]:

# Select a random sample from the test set (replace 1 with your desired sample size)
random_index = np.random.randint(0, len(X_test) - 1)
random_data = X_test[random_index].reshape(1, -1)

In [21]:
# Scale the random data using the same scaler
random_data_scaled = scaler.transform(random_data)

In [22]:
# Make prediction on the random data
prediction = model.predict(random_data_scaled)[0]  # Get the first element

In [23]:
# Print the predicted crop based on the index
print("Predicted crop:", crops[prediction])

Predicted crop: wheat

In [24]:

# Show the first row of the data (assuming informative features)
print("\nData preview (first row):")
display(data.head(1))

Data preview (first row):

,temperature,humidity,ph,rainfall,label_Black gram,label_Chickpea,label_Coconut,label_Coffee,label_Cotton,label_Ground Nut,...,label_maize,label_mango,label_millet,label_muskmelon,label_orange,label_papaya,label_pomegranate,label_rice,label_watermelon,label_wheat
0,20.879744,82.002744,6.502985,202.935536,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [25]:
# **Prediction using randomly selected data**

# Select a random sample from the test set (replace 1 with your desired sample size)
random_index = np.random.randint(0, len(X_test) - 1)
random_data = X_test[random_index].reshape(1, -1)

# Scale the random data using the same scaler
random_data_scaled = scaler.transform(random_data)
# Make prediction on the random data
prediction = model.predict(random_data_scaled)[0]  # Get the first element
# Print the predicted crop based on the index
print("\nPredicted crop:", crops[prediction])

Predicted crop: wheat